<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">
  <title>To Do List App</title>
</head>

<body>
  <main>
    <div class="projects">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
    </div>

    <div class="tasks">
      <h2 class="title">ALL TASKS</h2>
      <div></div>
      <div id="today" class="day-filter">
        <h3 class="subtitle">Today</h3>
        <ul id="today-list" class="task-list">
          <li class="task"><i class="far fa-circle" data="1"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="1"></i></li>
          <li class="task"><i class="far fa-circle" data="2"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="2"></i></li>
          <li class="task"><i class="far fa-circle" data="3"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="3"></i></li>
        </ul>
      </div>
      <div id="tomorrow" class="day-filter">
        <h3 class="subtitle">Tomorrow</h3>
        <ul id="tomorrow-list" class="task-list">
          <li class="task"><i class="far fa-circle" data="4"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="4"></i></li>
          <li class="task"><i class="far fa-circle" data="5"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="5"></i></li>
        </ul>
      </div>
      <div id="upcoming" class="day-filter">
        <h3 class="subtitle">Upcoming</h3>
        <ul id="upcoming-list" class="task-list">
          <li class="task"><i class="far fa-circle" data="6"></i><span class="unscratched">task for x day to be done</span><i class="fa fa-pencil-alt" data="6"></i></li>
        </ul>
      </div>
    </div>
  </main>

  <script>
    const todayList = document.querySelector('#today-list');
    const tomorrowList = document.querySelector('#tomorrow-list');
    const upcomingList = document.querySelector('#upcoming-list');
    // const tasks = document.querySelectorAll('');
    const bullets = document.querySelectorAll('.fa-circle');

    bullets.forEach(bullet => {
      bullet.onclick = () => {
        console.log(bullet.getAttribute('data'));
        const editIcon = bullet.parentElement.lastChild.className;
        const markIcon = bullet.parentElement.firstChild.className;
        const spanText = bullet.nextSibling.className;
        bullet.parentElement.lastChild.className = editIcon === 'fa fa-pencil-alt' ? 'fa fa-times-circle' : 'fa fa-pencil-alt';
        bullet.parentElement.firstChild.className = markIcon === 'far fa-circle' ? 'fas fa-check-circle' : 'far fa-circle';
        bullet.nextSibling.className = spanText === 'unscratched' ? 'scratched' : 'unscratched';
      };
    });

  </script>

</body>

</html>