<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">
  <title>To Do List App</title>
</head>

<body>
  <main>
    <div class="projects">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
    </div>
    <div class="tasks">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
    </div>
  </main>

</body>

</html>