<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">
  <title>To Do List App</title>
</head>

<body>
  <main>
    <div class="projects">
      <h1 class="title">My Projects</h1>

      <div class="project-cards">
        <div class="project-cards-content">
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <div class="project-cards-item"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div>
          <!-- check w/ javascript if is odd number of projects add remove-bottom class the last child -->
          <!-- <div class="project-cards-item remove-bottom"><p class="project-title">all projects</p><p class="project-subtitle">25 items</p></div> -->
          <div class="project-cards-item remove-bottom"><img src="./assets/plus.svg" alt="plus-icon" id="plus-icon"/></div>
        </div>
      </div>
    </div>
    <div class="tasks">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, deserunt suscipit alias optio ipsum nobis repellat
        esse ad quam! Placeat vel beatae recusandae a rerum cum, ab consequuntur amet rem?</p>
    </div>
  </main>

</body>

</html>