@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  font-weight: 300;
}

.grid {
  display: grid;
}


.projects {
  padding: 20px;
  position: fixed;
  width: 35vw;
  height: 95vh;
  left: 0;
  right: 0;
  overflow-y: scroll;
  border-right: 1px solid #f5f5f5;
}

.tasks {
  padding: 20px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  height: 95vh;
  margin-left: 38vw;
}

::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

/* PROJECTS */

